@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
    --accent_color: #46b980;
    --background-base: #1a1a1a;
    --background-light: #252525;
    --background-lighter: #3a3a3a;
    --background-dark: #131313;
    --text-color: #d8d8d8;
    --text-color-dark: #a0a0a0;
}

*{
    margin: 0;
    padding: 0;
    font-family: "League Spartan", serif;
    color: var(--text-color);
    background-color: var(--background-base);
    transition: 0.2s;
}

html{
    scroll-behavior: smooth;
    
    h4, h6{
        background-color: transparent;
    }
}

.text__title{
    width: 100%;
    text-align: left;
}

header{
    position: fixed;
    width: 100%;
    padding: 10px 10px 0 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;

    #home{
        width: 30px;
        height: 30px;
        margin: 10px 10px 10px 15px;
    }

    div{
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    img:hover{
        cursor: pointer;
    }

    nav, a, h6, div{
        background-color: transparent;
    }

    nav{
        display: flex;
        list-style: none;
        
        a{
            margin: 0 2em;
            text-decoration: none;
            transition-duration: .2s;
        }

        h6{ 
            :hover{
                color: var(--accent_color);
                cursor: pointer;
            }
        }
    }

    .nav__divider{
        background-color: red;
        width: 100%;
        height: 1px;
        filter: brightness(30%);
        margin: 10px 0 0 0;
    }
}

body{
    background-color: var(--background-base);
    display: flex;
    flex-direction: column;

    h1{
        font-size: 70px;
        font-weight: 600;
        color: var(--text-color);
    }

    h3{
        color: var(--text-color);
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    h4{
        font-size: 25px;
        font-weight: 600;
    }

    h6{
        line-height: 150%;
        font-weight: 400;
        font-size: 20px;
        color: var(--text-color-dark);
        text-align: justify;
    }

    .line{
        width: 100%;
        height: 1px;
        margin: 50px auto 50px;
        filter: brightness(30%);
    }

    .line__short{
        position: relative;
        width: 100%;
        height: 1px;
        margin: 5px auto 30px;
        filter: brightness(30%);
        z-index: 1;
    }

    .bold{
        font-weight: 600;
        color: var(--text-color);
        background-color: transparent;
    }

    .italic{
        font-style: italic;
    }
}



// index html

main{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 100px auto;
    height: auto;
    align-items: baseline;

    .hero{
        display: grid;
        grid-template-columns: 2fr 1fr;

        div{
            display: flex;
            flex-direction: column;
        }

        .bio{
            margin-right: 100px;

            
        }

        a{
            font-size: 20px;
            text-decoration: none;
            color: var(--text-color-dark);
        }

        a:hover{
            color: var(--accent_color);
        }
    }

    #pfp{
        background-color: var(--background-lighter);
        width: 300px;
        padding: 15px;
    }

    ul{
        li{
            display: flex;
            align-items: center;

            img{
                margin-right: 10px;
            }
        }
    }

    span{
        font-weight: 300;
        color: var(--text-color);
    }
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    width: 100%;
    margin: 50px 0;

    .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 25px;

        img{
            width: 100%;
            background-color: var(--background-dark);
            border-radius: 5px 5px 0 0;
        }
    }
    
    .project{
        border-radius: 5px;
        border: 1px solid var(--background-lighter);
    }

    .project:hover{
        cursor: pointer;
        transform: scale(1.02);
    }

    a{
        text-decoration: none;
        background-color: var(--background-light);

        div{
            background-color: var(--background-light);
            padding: 15px;
            border-radius: 0 0 5px 5px;
        }
    }

    .tools__list{
        display: flex;
        background-color: transparent;
        justify-content: left;
        padding: 0;

        h6{
            background-color: var(--background-lighter);
            margin: 0 10px 0 0;
            border-radius: 5px;
            padding: 2px 10px;
        }
    }

    h6{
        margin: 10px 0;
    }
}

.skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px auto;

    .skills__selection{
        display: flex;

        .skill__selected{
            color: var(--text-color);
            filter: brightness(100%);

            span{
                width: 100%;
                transform: scaleX(1);
            }
        }

        button{
            background-color: transparent;
            color: var(--text-color);
            filter: brightness(40%);
            border: none;
            font-size: 25px;
            font-weight: 600;

            div{
                background-color: transparent;
                display: flex;
                align-items: center;
                margin-right: 15px;


                span{
                    position: fixed;
                    transform: scaleX(0);
                    height: 3px;
                    background-color: white;
                    margin-bottom: -10px;
                    z-index: 2;
                }
            }
        }

        button:hover{
            cursor: pointer;
        }
    }

    .skills__section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 50px;

        a{
            text-decoration: none;
        }

        a:hover{

            h6{
                transform: scale(1.02);
                background-color: var(--background-lighter);
            }
        }
    }

    .skills__section.hidden{
        display: none;
    }

    h6{
        display: flex;
        margin: 10px;
        padding: 10px 15px;
        background-color: var(--background-light);
        border-radius: 5px;
        align-items: center;
    }
}

.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 20px;
    margin: 50px auto 250px;
    width: 100%;

    div{
        width: 100%;
        margin: 20px 0 0 0;
        justify-content: left;
    }

    section{
        display: flex;
        align-items: center;
        gap: 25px;
        margin-bottom: 20px;
    }

    h3{
        display: flex;
        align-items: center;
        margin: 0;
    }

    h4{
        display: flex;
        align-items: center;

    }

    img{
        margin: 0 15px 0 0;
    }

    h4.date{
        background-color: var(--background-light);
        padding: 10px 15px;
        border-radius: 5px;
        color: var(--text-color-dark);
        font-weight: 400;
    }

    .coursework{
        width: 98%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        column-gap: 40px;
        row-gap: 10px;

        span{
            background-color: transparent;
            font-weight: 500;
        }
        
        .course{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--background-light);
            padding: 10px 15px;
            border-radius: 5px;
            margin: 0;
        }

        h4{
            font-size: 20px;
            background-color: var(--background-lighter);
            padding: 10px 15px;
            border-radius: 5px;
        }

        .course:hover{
            // background-color: var(--background-lighter);
            transform: scale(1.01);
            cursor: default;
        }
    }
}

// models html

.model-showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px auto;

    .main-image{
        width: 1382px;
        height: 777;
        background-color: var(--background-dark);
        margin: 15px 0;
    }

    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;

        .gallery-btn{
            width: 25px;
            height: 25px;
            background-color: transparent;

            margin: 16px;
        }

        .gallery-btn:hover{
            transform: scale(1.5);
        }

        img{
            width: 345px;
            height: 180px;
            background-color: var(--background-dark);
            margin: 16px;
            transition-duration: .2s;
        }

        img:hover{
            cursor: pointer;
            transform: scale(1.05);
        }
    }

    .gallery{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1410px;
        overflow: hidden;
        margin: auto;
        
    }
}



//sorcerer's void
.overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 25px auto;

    img, video{
        position: relative;
        width: 100%;
        margin: 15px 0;
    }

    h6{
        margin-top: 20px;
    }

    ul{
        width: 100%;
        margin-left: 50px;

        h6{
            margin: 5px;
        }
    }
}



.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 25px auto;

    .features-left, .features-right{
        display: flex;
        flex-direction: column;
        
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .features-left{
        align-items: baseline;

        h6{
            margin-left: 50px;
        }
    }

    .features-right{
        align-items: end;

        h6{
            margin-right: 50px;
        }
    }

    img, video{
        width: 49.5%;
    }

    h3{
        margin-bottom: 25px;
    }

    h1{
        margin-bottom: 125px;
    }
}

.technical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 25px auto;

    img{
        width: 1382px;
        margin: 44px 0;
    }

    a{
        color: var(--accent_color);
        text-decoration: none;
    }

    h1{
        margin-bottom: 50px;
    }

    h6{
        align-self: baseline;
    }
}

.img__smallest, .img__small, .img__medium{
    margin: 10px;
    background-color: transparent;
}

.img__smallest{
    width: 25px;
    height: 25px;
}

.img__small {
    width: 30px;
    height: 30px;
}

.img__medium {
    width: 50px;
    height: 50px;
}

#main__section, #SV__main, #wordle__clone, #todo__app, #ecommerce{
    width: 50%;
    align-items: baseline;
    justify-content: center;
    margin: auto;
}

.project__section{
    margin: 50px 0;

    .action__btn{
        margin: 10px 0;
        background-color: var(--project-accent-color-main);
        border: 2px solid var(--project-accent-color-main);
        max-width: 100px;
    }

    .action__btn.github{
        background-color: var(--project-accent-color-secondary);
        border: 2px solid var(--project-accent-color-secondary);
    }

    h6{
        gap: 5px;
        padding: 10px 0;
    }

    .row{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 10px 0;
    }

    h3{
        margin: 30px 0 15px;
    }

    h4{
        display: flex;
        justify-content: center;
        width: fit-content;
        gap: 10px;

        span{
            width: 2px;
            height: 20px;
            background-color: var(--text-color);
        }
    }

    a{
        text-decoration: none;
    }
}

.action__btn{
    background-color: var(--accent_color);
    padding: 15px 25px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 5px;
    min-width: 50px;
    text-align: center;
}

.action__btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#wordle__clone{
    --project-accent-color-main: #0f9251;
    --project-accent-color-secondary: #cf8f05;

    #present{
        color: var(--project-accent-color-secondary);
    }

    #exact{
        color: var(--project-accent-color-main);
    }

    #absent{
        color: #505050;
    }
    
    #present, #exact, #absent{
        font-weight: 600;
        font-size: 25px;
    }
}

.tech__stack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
    gap: 10px;

    h6{
        display: flex;
        align-items: center;
        background-color: var(--background-light);
        padding: 10px 15px;
        border-radius: 5px;
    }

    h6:hover{
        cursor: default;
        transform: scale(1.01);
    }

    span{
        font-size: 22px;
        font-weight: 500;
        margin-right: 10px;
    }
}

.features__list{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    gap: 15px;
}

.feature__item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;

    h4{
        display: flex;
        align-items: center;
        gap: 5px;
        
        img{
            margin-left: 0;
            transform: translateY(-2px);
        }
    }

}

.project__screenshots{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 25px;
    margin: 25px 0;

    img{
        width: 100%;
        border-radius: 5px;
        border: 1px solid var(--background-lighter);
    }

    h6{
        text-align: center;
    }
}

.disclaimer{
    font-size: 15px;
}

#todo__app{
    --project-accent-color-main: #5bff9a;
    --project-accent-color-secondary: #ff2e4a;

    .action__btn{
        background-color: transparent;
        border: 2px solid var(--project-accent-color-secondary);
    }

    .action__btn.demo:hover{
        background-color: var(--project-accent-color-secondary);
    }

    .action__btn.github{
        background-color: var(--project-accent-color-secondary);
    }

    #priority{
        color: var(--project-accent-color-secondary);
        font-weight: 600;
        font-size: 25px;
    }
}

#ecommerce{
    --project-accent-color-main: #003cff;
    --project-accent-color-secondary: #003cff;

    .action__btn{
        background-color: transparent;
        border: 2px solid var(--project-accent-color-secondary);
    }

    .action__btn.demo:hover{
        background-color: var(--project-accent-color-secondary);
    }

    .action__btn.github{
        background-color: var(--project-accent-color-secondary);
    }

    .project__screenshots{
        grid-template-columns: 1fr;
    }
}