@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
:root {
  --accent_color: #46b980;
  --background-base: #1a1a1a;
  --background-light: #252525;
  --background-lighter: #3a3a3a;
  --background-dark: #131313;
  --text-color: #d8d8d8;
  --text-color-dark: #a0a0a0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", serif;
  color: var(--text-color);
  background-color: var(--background-base);
  transition: 0.2s;
}

html {
  scroll-behavior: smooth;
}
html h4, html h6 {
  background-color: transparent;
}

.text__title {
  width: 100%;
  text-align: left;
}

header {
  position: fixed;
  width: 100%;
  padding: 10px 10px 0 0;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 1;
}
header #home {
  width: 30px;
  height: 30px;
  margin: 10px 10px 10px 15px;
}
header div {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img:hover {
  cursor: pointer;
}
header nav, header a, header h6, header div {
  background-color: transparent;
}
header nav {
  display: flex;
  list-style: none;
}
header nav a {
  margin: 0 2em;
  text-decoration: none;
  transition-duration: 0.2s;
}
header nav h6 :hover {
  color: var(--accent_color);
  cursor: pointer;
}
header .nav__divider {
  background-color: red;
  width: 100%;
  height: 1px;
  filter: brightness(30%);
  margin: 10px 0 0 0;
}

body {
  background-color: var(--background-base);
  display: flex;
  flex-direction: column;
}
body h1 {
  font-size: 70px;
  font-weight: 600;
  color: var(--text-color);
}
body h3 {
  color: var(--text-color);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}
body h4 {
  font-size: 25px;
  font-weight: 600;
}
body h6 {
  line-height: 150%;
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color-dark);
  text-align: justify;
}
body .line {
  width: 100%;
  height: 1px;
  margin: 50px auto 50px;
  filter: brightness(30%);
}
body .line__short {
  position: relative;
  width: 100%;
  height: 1px;
  margin: 5px auto 30px;
  filter: brightness(30%);
  z-index: 1;
}
body .bold {
  font-weight: 600;
  color: var(--text-color);
  background-color: transparent;
}
body .italic {
  font-style: italic;
}

main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 100px auto;
  height: auto;
  align-items: baseline;
}
main .hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
main .hero div {
  display: flex;
  flex-direction: column;
}
main .hero .bio {
  margin-right: 100px;
}
main .hero a {
  font-size: 20px;
  text-decoration: none;
  color: var(--text-color-dark);
}
main .hero a:hover {
  color: var(--accent_color);
}
main #pfp {
  background-color: var(--background-lighter);
  width: 300px;
  padding: 15px;
}
main ul li {
  display: flex;
  align-items: center;
}
main ul li img {
  margin-right: 10px;
}
main span {
  font-weight: 300;
  color: var(--text-color);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  width: 100%;
  margin: 50px 0;
}
.projects .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 25px;
}
.projects .container img {
  width: 100%;
  background-color: var(--background-dark);
  border-radius: 5px 5px 0 0;
}
.projects .project {
  border-radius: 5px;
  border: 1px solid var(--background-lighter);
}
.projects .project:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.projects a {
  text-decoration: none;
  background-color: var(--background-light);
}
.projects a div {
  background-color: var(--background-light);
  padding: 15px;
  border-radius: 0 0 5px 5px;
}
.projects .tools__list {
  display: flex;
  background-color: transparent;
  justify-content: left;
  padding: 0;
}
.projects .tools__list h6 {
  background-color: var(--background-lighter);
  margin: 0 10px 0 0;
  border-radius: 5px;
  padding: 2px 10px;
}
.projects h6 {
  margin: 10px 0;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px auto;
}
.skills .skills__selection {
  display: flex;
}
.skills .skills__selection .skill__selected {
  color: var(--text-color);
  filter: brightness(100%);
}
.skills .skills__selection .skill__selected span {
  width: 100%;
  transform: scaleX(1);
}
.skills .skills__selection button {
  background-color: transparent;
  color: var(--text-color);
  filter: brightness(40%);
  border: none;
  font-size: 25px;
  font-weight: 600;
}
.skills .skills__selection button div {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.skills .skills__selection button div span {
  position: fixed;
  transform: scaleX(0);
  height: 3px;
  background-color: white;
  margin-bottom: -10px;
  z-index: 2;
}
.skills .skills__selection button:hover {
  cursor: pointer;
}
.skills .skills__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}
.skills .skills__section a {
  text-decoration: none;
}
.skills .skills__section a:hover h6 {
  transform: scale(1.02);
  background-color: var(--background-lighter);
}
.skills .skills__section.hidden {
  display: none;
}
.skills h6 {
  display: flex;
  margin: 10px;
  padding: 10px 15px;
  background-color: var(--background-light);
  border-radius: 5px;
  align-items: center;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 20px;
  margin: 50px auto 250px;
  width: 100%;
}
.education div {
  width: 100%;
  margin: 20px 0 0 0;
  justify-content: left;
}
.education section {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}
.education h3 {
  display: flex;
  align-items: center;
  margin: 0;
}
.education h4 {
  display: flex;
  align-items: center;
}
.education img {
  margin: 0 15px 0 0;
}
.education h4.date {
  background-color: var(--background-light);
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--text-color-dark);
  font-weight: 400;
}
.education .coursework {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 10px;
}
.education .coursework span {
  background-color: transparent;
  font-weight: 500;
}
.education .coursework .course {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-light);
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0;
}
.education .coursework h4 {
  font-size: 20px;
  background-color: var(--background-lighter);
  padding: 10px 15px;
  border-radius: 5px;
}
.education .coursework .course:hover {
  transform: scale(1.01);
  cursor: default;
}

.model-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
}
.model-showcase .main-image {
  width: 1382px;
  height: 777;
  background-color: var(--background-dark);
  margin: 15px 0;
}
.model-showcase ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.model-showcase ul .gallery-btn {
  width: 25px;
  height: 25px;
  background-color: transparent;
  margin: 16px;
}
.model-showcase ul .gallery-btn:hover {
  transform: scale(1.5);
}
.model-showcase ul img {
  width: 345px;
  height: 180px;
  background-color: var(--background-dark);
  margin: 16px;
  transition-duration: 0.2s;
}
.model-showcase ul img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.model-showcase .gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1410px;
  overflow: hidden;
  margin: auto;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 25px auto;
}
.overview img, .overview video {
  position: relative;
  width: 100%;
  margin: 15px 0;
}
.overview h6 {
  margin-top: 20px;
}
.overview ul {
  width: 100%;
  margin-left: 50px;
}
.overview ul h6 {
  margin: 5px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 25px auto;
}
.features .features-left, .features .features-right {
  display: flex;
  flex-direction: column;
}
.features .features-left div, .features .features-right div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.features .features-left {
  align-items: baseline;
}
.features .features-left h6 {
  margin-left: 50px;
}
.features .features-right {
  align-items: end;
}
.features .features-right h6 {
  margin-right: 50px;
}
.features img, .features video {
  width: 49.5%;
}
.features h3 {
  margin-bottom: 25px;
}
.features h1 {
  margin-bottom: 125px;
}

.technical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 25px auto;
}
.technical img {
  width: 1382px;
  margin: 44px 0;
}
.technical a {
  color: var(--accent_color);
  text-decoration: none;
}
.technical h1 {
  margin-bottom: 50px;
}
.technical h6 {
  align-self: baseline;
}

.img__smallest, .img__small, .img__medium {
  margin: 10px;
  background-color: transparent;
}

.img__smallest {
  width: 25px;
  height: 25px;
}

.img__small {
  width: 30px;
  height: 30px;
}

.img__medium {
  width: 50px;
  height: 50px;
}

#main__section, #SV__main, #wordle__clone, #todo__app {
  width: 50%;
  align-items: baseline;
  justify-content: center;
  margin: auto;
}

.project__section {
  margin: 50px 0;
}
.project__section .action__btn {
  margin: 10px 0;
  background-color: var(--project-accent-color-main);
  border: 2px solid var(--project-accent-color-main);
  max-width: 100px;
}
.project__section .action__btn.github {
  background-color: var(--project-accent-color-secondary);
  border: 2px solid var(--project-accent-color-secondary);
}
.project__section h6 {
  gap: 5px;
  padding: 10px 0;
}
.project__section .row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
}
.project__section h3 {
  margin: 30px 0 15px;
}
.project__section h4 {
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
}
.project__section h4 span {
  width: 2px;
  height: 20px;
  background-color: var(--text-color);
}
.project__section a {
  text-decoration: none;
}

.action__btn {
  background-color: var(--accent_color);
  padding: 15px 25px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 5px;
  min-width: 50px;
  text-align: center;
}

.action__btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#wordle__clone {
  --project-accent-color-main: #0f9251;
  --project-accent-color-secondary: #cf8f05;
}
#wordle__clone #present {
  color: var(--project-accent-color-secondary);
}
#wordle__clone #exact {
  color: var(--project-accent-color-main);
}
#wordle__clone #absent {
  color: #505050;
}
#wordle__clone #present, #wordle__clone #exact, #wordle__clone #absent {
  font-weight: 600;
  font-size: 25px;
}

.tech__stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
  gap: 10px;
}
.tech__stack h6 {
  display: flex;
  align-items: center;
  background-color: var(--background-light);
  padding: 10px 15px;
  border-radius: 5px;
}
.tech__stack h6:hover {
  cursor: default;
  transform: scale(1.01);
}
.tech__stack span {
  font-size: 22px;
  font-weight: 500;
  margin-right: 10px;
}

.features__list {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  gap: 15px;
}

.feature__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}
.feature__item h4 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.feature__item h4 img {
  margin-left: 0;
  transform: translateY(-2px);
}

.project__screenshots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 25px;
  margin: 25px 0;
}
.project__screenshots img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--background-lighter);
}
.project__screenshots h6 {
  text-align: center;
}

.disclaimer {
  font-size: 15px;
}

#todo__app {
  --project-accent-color-main: #5bff9a;
  --project-accent-color-secondary: #ff2e4a;
}
#todo__app .action__btn {
  background-color: transparent;
  border: 2px solid var(--project-accent-color-secondary);
}
#todo__app .action__btn.demo:hover {
  background-color: var(--project-accent-color-secondary);
}
#todo__app .action__btn.github {
  background-color: var(--project-accent-color-secondary);
}
#todo__app #priority {
  color: var(--project-accent-color-secondary);
  font-weight: 600;
  font-size: 25px;
}/*# sourceMappingURL=main.css.map */